@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing:border-box;
}

:root {
    font-size: 12px;
    scroll-behavior: smooth;
    /*  MAX-VALUES  */
    --max-width: 1440px;
    /*  FONTS  */
    --primary-font: 'Playfair Display';
    --secondary-font: 'Poppins';
    --number-font: 'Abril Fatface';
}

html.light{
    background: url('assets/img/day-bgd.svg') no-repeat center center/cover;
    background-attachment: fixed;
    --primary-color: #EF7C72;
    --secondary-color: #072141;
    --light-color:white;
    --dark:#f4a39c;
    --darker: #f9cbc7;
    --darkest: #fdf2f1;
    /*  TEXT-COLORS  */
    --primary-text-color:black;
    --secondary-text-color: #072141;
}

html.dark{
    background: url('assets/img/night-bgd.svg') no-repeat center center/cover;
    background-attachment: fixed;
    --primary-color: #072142 ;
    --secondary-color: #FF4D5A;
    --light-color:white;  
    --dark:#05172E;
    --darker: #030D1A;
    --darkest: #010307;
    /*  TEXT-COLORS  */
    --primary-text-color:white;
    --secondary-text-color: #FF4D5A;
    --text-shadow-color:rgba(2, 11, 22, 0.5)
}

html.dark .sphere{
    background:url(assets/img/night-sphere.svg)no-repeat center center/contain;
}

html.light .sphere{
    background:url(assets/img/day-sphere.svg)no-repeat center center/contain;
}

html.dark .scroll{
    background: url(assets/img/night-scroll.svg) no-repeat center center/contain;
}

html.light .scroll{
    background: url(assets/img/day-scroll.svg) no-repeat center center/contain;
}

html.dark .twitter{
    background: url("assets/img/twitter-icon-night.svg")no-repeat center center/contain;
}
html.dark .github{
    background: url("assets/img/github-icon-night.svg")no-repeat center center/contain;
}
html.dark .linkedin{
    background: url("assets/img/linkedin-icon-night.svg")no-repeat center center/contain;
}

html.light .twitter{
    background: url("assets/img/twitter-icon-day.svg")no-repeat center center/contain;
}
html.light .github{
    background: url("assets/img/github-icon-day.svg")no-repeat center center/contain;
}
html.light .linkedin{
    background: url("assets/img/linkedin-icon-day.svg")no-repeat center center/contain;
}

/* Universal */

h1{
    font-family: var(--primary-font);
    font-size: 7.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 10px;
    line-height: 1;
    color: var(--primary-text-color);
    text-shadow: 0 10px 10px var(--text-shadow-color)
}

h2{
    font-family: var(--primary-font);
    font-size: 3.1rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0 10px 15px 10px;
    line-height: 1;
    color: var(--secondary-text-color);
    opacity: 0.7;
    text-shadow: 0 10px 10px var(--text-shadow-color)
}
h3{
    font-family: var(--number-font);
    font-size: 7.5rem;
    font-weight: 100;
    margin: 10px;
    line-height: 1;
    color: var(--primary-text-color);
    text-shadow: 0 10px 10px var(--text-shadow-color)
}
h4{
    text-shadow: 0 10px 10px var(--text-shadow-color);
    font-family: var(--secondary-font);
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    color: var(--primary-text-color);
}
h4 span{
    color: #FF4D5A;
}
p{
    margin: 0;
    margin-top: 2px;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: var(--primary-text-color);
}

.btn-container{
    display: flex;
    margin: 10px 10px;
    gap:30px;
}

a.btn1{
    color: var(--light-color);
    background: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 60px;
}

a.btn2{
    color: var(--secondary-text-color);
    border-style: solid;
    border-color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 60px;
}

a{
    text-decoration: none;
}

html{
}

body{
    margin: 0;
    overflow-x: hidden;
    width: max(100vw);
    height: 100vh;
}

.container{
    /* scroll-snap-type: y mandatory; */
    height: 100vh;
}

section{
    position: relative;
    /* scroll-snap-align: center; */
    height: 100vh;
}

.footer-container{
    width: 100%;
    position:fixed;
    z-index: 20;
    bottom: 0;
}

.scroll-container{
    width:100px;
    height: 120px;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.scroll{
    width:40px;
    height: 90px;
    align-self: center;
}

.scroll-container p{
    color:var(--primary-text-color);
    text-align: center;
    font-family: var(--secondary-font);
    margin:0;
}

.page-selector-container{
    height: 80vh;
    width: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 21;
}

.page-selector{
    width: 4%;
    height: 200px;
    top: 38vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 21;
}

.page-selector a{
    position: relative;
    width: 6px;
    margin: 15px 0;
    height: 6px;
    border-radius: 20px;
    background: var(--primary-text-color);
    transition: height 0.1s ease-in;
}

.page-selector a.active{
    height: 40px;
}

/* Nav Menu */

.nav-menu{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-color);
    z-index: 25;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    transform: translate(100vw);
}

.nav-menu li{
    font-family: var(--secondary-font);
    font-size: clamp(64px,10vw,9rem);
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    width:90vw
}

.nav-menu li a{
    color: var(--primary-text-color);
    transition: color 0.2s ease-in, text-shadow 0.2s ease-in;
}

.nav-menu li a:hover{
    cursor: pointer;
}

.menu-box{
    width: 100vw;
    height:100vh;
    position: fixed;
    transform: translate(100vw);
}

#mb1{
    background-color: var(--darkest);
    z-index: 22;
}
#mb2{
    background-color: var(--darker);
    z-index: 23;
}
#mb3{
    background-color: var(--dark);
    z-index: 24;
}

.nav-menu li a:hover{
    color: var(--secondary-color);
    text-shadow: -0.100em -0.100em 0 var(--darkest);
}

.page-selector a.p1-select{
    height: 30px;
    border-radius: 20%;
}

/* NAV-BAR -----------------------*/

.navbar-container{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 10px 40px;
    z-index: 30;
}

.nav-left{
    display: flex;
    flex-direction: row;

}

.nav-right{
    display: flex;
    align-items: center;
}

.logo{
    font-family: var(--primary-font);
    font-size: 4em;
    font-weight: 700;
    color: var(--primary-text-color);
    margin-left:20px;
    transition: text-shadow 0.2s ease-in, opacity 0.2s ease-in ;
    text-justify: center;
}
.light-dark-modes{
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.logo:hover{
    opacity: 0.9;
    text-shadow: -0.100em -0.100em 0 var(--secondary-color);
}

#dark-btn{
    display:none;
    height: 40px;
    width: 40px;
    background: url("assets/img/night-btn.svg")no-repeat center center/cover;
    transition: opacity 0.2s ease-in;
}

#light-btn{
    display: none;
    height: 40px;
    width: 40px;
    background: url("assets/img/day-btn.svg")no-repeat center center/cover;
    transition: opacity 0.2s ease-in;
}
#light-btn.active,
#dark-btn.active{
    display: block;
}

#dark-btn:hover,
#light-btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.social-media{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px;
}

.social-media a{
    height: 30px;
    width: 40px;
    transition: opacity 0.2s ease-in;
}

.social-media a:hover{
    opacity: 0.7;
}

.burger{
    position: relative;
    margin: 5px;
    cursor:pointer;
    transition: opacity 0.2s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}


.burger div{
    width:45px;
    height:5px;
    margin:5px;
    border-radius: 50px;
    background: var(--primary-text-color);
}

.burger:hover{
    opacity: 0.7;
}

/* Page 01 -------------------------------------------*/

.sphere-container{
    height:100vh;
    width: max(50vw, 900px);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sphere{
    width: 850px;
    height: 850px;
    border-radius: 50%;
}

/* Pages 02 - 04 -------------------------------------------*/ 

.title-container{
    position:absolute;
    margin-left: 5%;
    top: 35vh;
    z-index: 12;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.project-container{
    height:100vh;
    width: 70vw;
    position:relative;
    top: 0;
    bottom: 0;
    left: 32%;
    display:flex;
    z-index: 1;
}

.p-c{
    left: 22%;
    width: 70%;
    height: 75%;
    position: relative;
    align-self: center;
    justify-self: center;
}

.project-container .overflow-container{
    position:absolute;
    top:10%;
    left:-80px;
    z-index: 20;
    overflow: hidden;
}

.project-bgd{
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
}

.project-load{
    background-color: var(--secondary-color);
    height: 110%;
    width: 100%;
    position: absolute;
    z-index: 19;
}

.project-img-cover{
    width: 100%;
    height: 110%;
    background: var(--primary-color);
    position: absolute;
    z-index: 19;
}

.project-img{
    height: 100%;
    width: 100%;
    position: absolute;
}

.project-bgd #img-1{
    background: url("assets/img/Yawboard-Desktop.png")no-repeat center center/cover;
}
.project-bgd #img-2{
    background: url("assets/img/stock-image4.jpg")no-repeat center center/cover;
}
.project-bgd #img-3{
    background: url("assets/img/stock-image3.jpg")no-repeat center center/cover;
}
/* ANIMATIONS -------------------------------------------*/ 
.overflow-container{
    overflow: hidden;
}
.from-left{
    transform: translateX(-100%);
}
.from-top{
    transform: translateY(-99%);
    opacity: 0;
}
.from-bottom{
    transform: translateY(100%);
}
.from-right{
    transform: translateX(99%);
}
.from-top-delayed{
    transform: translateY(-110%);
}
.from-left.appear,
.from-top.appear,
.from-bottom.appear{
    transform: translate(0);
}
.from-left.appear{
    transition: transform 500ms ease-in;
}
.from-top.appear{
    opacity: 1;
    transition: transform 400ms ease-in 300ms, opacity 400ms ease-in 200ms;
}
.from-bottom.appear{
    transition: transform 400ms ease-in 500ms;
}
.from-right.appear{
    transform: translateX(-99%);
    transition: transform 600ms ease-in-out 75ms;
}
.from-right-delayed.appear{
    transform: translateX(-99%);
    transition: transform 300ms ease-in-out 150ms;


}
.from-top-delayed.appear{
    transform: translateY(0);
    transition: transform 400ms ease-in 600ms;
}
.scroll-container{
    /* transform: translateX(-10vw); */
    opacity: 1;
}
.btn-container a:hover{
    opacity: 0.7;
    transition: opacity 500ms;
}


/* MEDIA QUERIES ----------------------------*/

/* Phones -------*/
@media screen and (max-width: 650px){
    #landing-page a.btn1,
    #landing-page a.btn2{
        font-size: 0.8rem;
        white-space: nowrap;
        padding: 12px 40px;
    }
    .btn-container{
        gap:0px;
        margin-top:5px
    }
    .title-container{
        position: relative;
        top:20px;
        height: 45vh;
        justify-content: center;
    }
    :root{
        font-size: 8px;
    }
    h1{
        font-size: clamp(5.4rem,18vw,10.9rem);
    }
    h2{
        font-size: clamp(2.5rem,8vw,4.5rem);
        margin-bottom: 10px;
    }
    
    a.btn1,
    a.btn2{
        padding: 15px 45px;
        margin-right: 10px;
    }
    
    .navbar-container{
        padding: 10px 20px 5px 20px;
    }
    .nav-right ul{
        padding: 0;
    }
    .logo{
        margin: 0;
    }
    
    .burger{
        justify-content: center;
        margin-left: 10px;
    }
    .burger div{
        width: 30px;
        height: 4px;
        margin: 3px;

    }
    
    /* .page-selector{
        top: 30vh;
    } */
    
    .page-selector a{
        width: 4px;
        margin: 10px 0;
    }
    
    .project-container{
        position: relative;
        width: 100vw;
        left: 0%;
        height: 45vh;
    }
    .p-c{
        width:85%;
        height:90%;
        top:10%;
        left: 7.5%;
    }
    .p-c .overflow-container{
        left:60%;
        top:-60px;
    }
    section{
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }
    .from-top-delayed{
        transform: translateY(-105%);
    }
    .light-dark-modes{
        margin-left: 10px;
        margin-top: 0;
    }

    #dark-btn,
    #light-btn{
        height: 30px;
        width: 30px;
    }
    .social-media{
        align-items: flex-start;
    }
    .social-media a{
        height: 25px;
        width: 35px;
    }
    .scroll-container{
        display: none;
    }
}