@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url(../assets/fonts/NoeDisplay-Bold.ttf);
    font-family: NoeDisplay;
}

* {
    box-sizing:border-box;
}

:root {
    scroll-behavior: smooth;
    /*  MAX-VALUES  */
    --max-width: 1440px;
    /*  FONTS  */
    --primary-font: 'NoeDisplay';
    --secondary-font: 'Poppins';
    /*  COLORS  */
    --primary-color: #072142 ;
    --secondary-color: #FF4D5A;
    --light-color:white;
    /*  TEXT-COLORS  */
    --primary-text-color:white;
    --secondary-text-color: #FF4D5A;
}

/* Universal */

h1{
    font-family: var(--primary-font);
    font-size: 7.5rem;
    margin: 10px;
    line-height: 1;
    color: var(--primary-text-color);
}

h2{
    font-family: var(--primary-font);
    font-size: 3.1rem;
    margin: 0 10px 10px 20px;
    line-height: 1;
    color: var(--secondary-text-color);
    opacity: 0.7;
}

.btn-container{
    display: flex;
    margin: 20px 20px;
    gap:30px;
}

a.btn1{
    color: var(--primary-text-color);
    background: var(--secondary-text-color);
    font-family: var(--secondary-font);
    padding: 20px 60px;
}

a.btn2{
    color: var(--secondary-text-color);
    border-style: solid;
    border-color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    padding: 20px 60px;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    overflow: hidden;
    background: url('assets/night-bgd.svg') no-repeat center center/cover;
    width: max(100vw);
    height: 100vh;
    background-attachment: fixed;
}


div.container{
    height: 100vh;
    overflow: auto;
}

.navbar-container{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px 0 40px;
    z-index: 30;
}

.logo{
    font-family: var(--primary-font);
    font-size: 3em;
    color: var(--primary-text-color);
    margin-left:20px ;
}

.burger{
    justify-self:center;
    position: relative;
    margin: 4px 20px 0 0;
}

.burger div{
    width:45px;
    height:5px;
    margin:10px;
    background: var(--primary-text-color);
}

.footer-container{
    width: 100%;
    position:fixed;
    display:flex;
    z-index: 20;
    top: 80vh;
}

.scroll-container{
    width:100px;
    height: 200px;
    margin: 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.scroll{
    background: url(assets/night-scroll.svg) no-repeat center center/contain;
    width:40px;
    height: 90px;
    align-self: center;
}

.scroll-container p{
    color:var(--primary-text-color);
    text-align: center;
    font-family: var(--secondary-font);
    margin:0;
}

.page-selector-container{
    background: red;
    height: 80vh;
    width: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 21;
}

.page-selector{
    width: 60px;
    height: 200px;
    top: 38vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}

.page-selector a{
    position: relative;
    width: 6px;
    margin: 15px 0;
    height: 6px;
    border-radius: 50%;
    background: white;
}

/* Nav Menu */

.nav-menu{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: var(--secondary-color);
    z-index: 25;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-menu li{
    font-family: var(--secondary-font);
    font-size: clamp(80px,10vw,135px);
    font-weight: 500;
}

.nav-menu li a{
    color: var(--primary-text-color);
}

/* Page 01 -------------------------------------------*/

section#page-01 .title-container{
    position:absolute;
    margin-left: 5%;
    top: 35%;
    z-index: 12;
    display: flex;
    flex-direction: column;
}

section#page-01 .sphere-container{
    height:100vh;
    width: max(50vw, 900px);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

section#page-01 .sphere{
    width: 850px;
    height: 850px;
    background:url(assets/night-sphere.svg)no-repeat center center/contain;
    border-radius: 50%;
}

.page-selector a.p1-select{
    height: 30px;
    border-radius: 20%;
}

/* Page 02 -------------------------------------------*/
/*  
section#page-02 .title-container{
    position:relative;
    margin-left: 5%;
    top: 35%;
    z-index: 12;
    display: flex;
    flex-direction: column;
} */