@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    src: url(assets/fonts/RoseVelt.ttf);
    font-family: RoseVelt;
}

* {
    box-sizing:border-box;
}

body{ 
    background-color: #63768D;
    margin: 0;
    overflow: hidden;
}

.project{
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 2% 5%;
    justify-content: center;
    overflow: visible;
}

.project-content{
    background-color: #8899AE;
    width: min(40%,410px);
    padding: min(2%, 20px);
    min-height: 80vh;
    margin-right: 5%;
}
.project-box{
    display: block;
    min-width:90vw;
    min-height: 8vh;
}
.project-content .project-word{
    font-family: 'Roboto';
    font-size: 64px;
    font-weight: 200;
    margin: 0 0 0 3%;
    color: white;
}

.project-content .project-name{
    margin: -50px 0px 50px 5%;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 64px;
    color: #A61C3C;
    letter-spacing: 1vw;
}
.project-content .project-no{
    margin: -100px 0px 20px 280px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 64px;
    color: white;
    letter-spacing: 2vw;
}

.project-content p{
    font-family: 'Roboto';
    font-size: max(20px,1vw);
    font-weight: 300;
    margin: 0;
    color: white;
}
.project-img-bgd{
    background: rgba(166, 28, 60, 0.5);
    width: 50%;
    display: flex;
    overflow: visible;
    align-self: flex-end;
    margin-bottom: 3vh;
}
.project-img{
    background: url('assets/stock-image1.jpg') no-repeat center center/cover;
    width: 100%;
    min-height: 60vh;
    margin: -3% -3% 3% 3%;
    display: flex;
    align-items: flex-end;
}
.project-img a{
    padding:35px 70px;
    background: rgba(99, 118, 141, 0.8);
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
}
.project-img a:hover{
    opacity: 0.7;
}

@media(max-width:1120px){
.project{
        flex-direction: column;
    }
.project-content{
    width: 100%;
    min-height: 40vh;
    }
.project-img-bgd{
    margin: 5% 5% 5% 0;
    width: 90%;
    align-self: center;
    min-height: 30vh;
}
.project-img{
    min-height: 0;
}
}
