@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    src: url(assets/fonts/RoseVelt.ttf);
    font-family: RoseVelt;
}

.nav-container{
    margin: auto;
    max-width: 1920px;
    overflow: auto;
    padding: 0 1vw;
}
.navbar{
    background: #2C3C51;
    color: white;
    overflow: auto;
}
.logo-container{

    display: flex;
    max-width: max(250px,30vw);
    float:left;
    align-content: center;
}
.logo{
    background: url(assets/full_shaded_logo.png)no-repeat center center/contain;
    width: 90px;
    height: 90px;
    float:left;
}
.logo:hover{
    opacity: 0.8;
    cursor: pointer;
}
.small-name{
    float:left;
    font-family: 'RoseVelt';
    font-weight: 400;
    font-size: clamp(35px, 2.5vw, 60px);
    margin: auto 0;
}

.burger{
    float: right;
    padding: 25px;
    display: none;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
  }
.burger div{
    width: 2rem;
    height: 0.2rem;
    background: white;
    margin: 7px;
    border-radius: 50%;
  }
  
.burger:hover{
    background: #A61C3C;
  }

.navbar ul{
    list-style: none;
    margin: 0;
    float:right;
    padding:0;
}

.navbar li{
    float:left;
    font-size: 1em;
    cursor: pointer;
}
.navbar li a {
    display: block;
    margin: 25px min(2vw,50px);
    padding: 10px 8px 10px 13px;
    border-width: 2px 0 2px 0;
    border-style:solid;
    border-color: transparent;
    text-decoration: none;
    font-family: 'Roboto';
    letter-spacing: 4px;
    font-weight: 600;
    color: white;
}
.navbar li:hover{
    border-color: #9e9e9e;
    background:#A61C3C;
}

.navbar li a.current{
    border-style: solid;
    border-color:white;
    color: #f1Bf98;
}

@media(max-width:1200px){
    .navbar ul{
        display: none;
    }
    .burger{
        display: block;
    }
} 